# Inputs to the Model

In [1]:
no_of_training_records =100 # -1 for all recods in the inputs

# Data load from Bluemix Object storage

In [8]:
import sys
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share your notebook.
client_68532bd96dbe4c248d749a8b6524f1de = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='9ZvQ7-fsxLoo-VnMlB9H9lyK5OErBD9L4BRYZLEWCBmJ',
    ibm_service_instance_id="iam-ServiceId-bfb58159-c1e0-401d-8326-c9675ae266d0",
    ibm_auth_endpoint="https://iam.ng.bluemix.net/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_68532bd96dbe4c248d749a8b6524f1de.get_object(Bucket='cognitivebanking5320a88bf4c74dd5bbff58f004b5577b',Key='test_indessa.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

testdf = pd.read_csv(body)
testdf = testdf.head(no_of_training_records)
testdf

ImportError: No module named 'botocore'

# Data load from Nimbix File Manager

Update the **username**, **password** and **traning url** for the current nimbix file manager instance

In [2]:
import urllib2
import base64

username = "nimbix"
password = "MaSI6jdOpZ0UtNu"
request = urllib2.Request("https://nae-165-254-189-6.broker.jarvice.com/owncloud/remote.php/webdav/CognitiveBanking/data/prediction.csv")
base64string = base64.encodestring('%s:%s' % (username, password)).replace('\n', '')
request.add_header("Authorization", "Basic %s" % base64string)
response = urllib2.urlopen(request)
testdf = pd.read_csv(response)
testdf = dataframe.head(no_of_training_records)
testdf

ImportError: No module named 'urllib2'

In [12]:
import pandas as pd
testdf = pd.read_csv('D:/Arshad/CognitiveBanking/Data/prediction.csv')
testdf = testdf.head(no_of_training_records)
testdf = testdf.dropna(subset = ['loan_amnt',
                           'funded_amnt',
                           'funded_amnt_inv', 
                           'int_rate',
                           'annual_inc', 
                           'dti',
                           'open_acc', 
                           'revol_bal',
                           'revol_util', 
                           'total_acc',
                           'total_rec_int', 
                           'tot_cur_bal',
                           'total_rev_hi_lim'
                           ])

testdf = testdf.reset_index(drop=True)
testdf

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,14337277,15000,15000,15000,36 months,BAT2522922,17,D,D1,NaN,...,0,31,INDIVIDUAL,nan,96th week,0,70,"78,226","14,200",0
1,7000560,30000,30000,29950,60 months,NaN,13,B,B4,fedex freight,...,0,nan,INDIVIDUAL,nan,52th week,0,"1,229","210,925","11,999",1
2,58836255,15000,15000,14975,36 months,BAT3873588,8,B,B1,Sr. Client Representative,...,0,nan,INDIVIDUAL,nan,26th week,0,0,"192,034","38,100",0
3,67817719,12000,12000,12000,36 months,BAT2252229,5,A,A1,Superintendent of Schools,...,0,nan,INDIVIDUAL,nan,9th week,0,0,"259,838","166,300",0
4,58762023,11200,11200,11200,36 months,NaN,10,B,B3,Enlisted,...,0,nan,INDIVIDUAL,nan,26th week,0,0,"69,118","26,700",0
5,39910063,11875,11875,11825,36 months,BAT4722912,18,D,D5,Shelter Coordinator,...,0,nan,INDIVIDUAL,nan,52th week,0,0,"45,264","22,300",0
6,10887266,6000,6000,6000,36 months,,13,B,B4,Insurance Regulator,...,0,31,INDIVIDUAL,nan,9th week,0,0,"41,626","8,900",1
7,71188361,24000,24000,24000,60 months,BAT2803411,8,A,A5,Infrastructure Engineer,...,0,nan,INDIVIDUAL,nan,4th week,0,0,"18,337","32,600",0
8,9004497,24175,24175,24175,60 months,BAT1930365,16,C,C3,Front Line Manager,...,0,nan,INDIVIDUAL,nan,117th week,0,0,"189,843","47,700",0
9,46312000,15825,15825,15825,60 months,BAT4136152,20,E,E4,CUSTOMER SERVICE,...,0,nan,INDIVIDUAL,nan,44th week,0,0,"26,044","23,300",0
10,62655249,21000,21000,20875,60 months,NaN,18,D,D4,Sales,...,0,nan,INDIVIDUAL,nan,17th week,0,0,"79,115","21,200",0
11,31836939,12125,12125,12125,36 months,BAT2078974,14,C,C3,vsa,...,0,11,INDIVIDUAL,nan,65th week,0,0,"13,125","8,500",0
12,69624883,16000,16000,16000,60 months,,8,A,A5,Account Representative,...,0,78,INDIVIDUAL,nan,9th week,0,0,"29,710","18,300",0
13,70348025,12500,12500,12500,36 months,BAT1586599,13,C,C2,Attorney,...,0,44,INDIVIDUAL,nan,9th week,0,0,"203,083","17,750",0
14,11918926,24450,24450,24450,60 months,BAT2522922,18,D,D3,Software Engineer,...,0,nan,INDIVIDUAL,nan,96th week,0,0,"242,720","31,200",0
15,53826904,20000,20000,20000,36 months,NaN,14,C,C4,"Manager, Financial Services",...,0,39,INDIVIDUAL,nan,31th week,0,0,"124,913","9,200",0
16,65478180,2600,2600,2600,36 months,,10,B,B3,Site Customer service representative,...,0,nan,INDIVIDUAL,nan,9th week,0,0,"13,837","53,900",0
17,41353717,5000,5000,5000,36 months,,9,B,B1,Plumber,...,0,33,INDIVIDUAL,nan,52th week,0,0,"28,771","12,402",0
18,46021118,5850,5850,5850,36 months,BAT4136152,18,E,E1,Farmer and ranch foreman,...,0,nan,INDIVIDUAL,nan,39th week,0,"4,135","47,181","5,800",0
19,3417740,10000,10000,9950,36 months,NaN,15,C,C2,lincare Inc,...,0,nan,INDIVIDUAL,nan,161th week,0,0,"215,918","14,500",1
20,10408972,9500,9500,9500,36 months,BAT2575549,14,B,B5,Teacher,...,0,56,INDIVIDUAL,nan,56th week,0,0,"74,102","10,200",1
21,53968058,6500,6500,6500,36 months,,8,A,A5,Marketing Associate,...,0,57,INDIVIDUAL,nan,31th week,0,0,"38,670","14,600",0
22,2168562,12000,12000,12000,36 months,NaN,15,C,C2,Bedding Experts,...,0,nan,INDIVIDUAL,nan,143th week,0,216,"257,340","21,900",1
23,68418195,12000,12000,12000,60 months,BAT1586599,13,C,C2,c/o,...,0,nan,INDIVIDUAL,nan,9th week,0,0,"100,788","15,500",0
24,11949534,18000,18000,18000,36 months,BAT5629144,15,C,C3,clerk,...,0,nan,INDIVIDUAL,nan,61th week,0,0,"20,520","4,500",0
25,43162515,9775,9775,9775,36 months,NaN,18,D,D5,General Manager,...,0,nan,INDIVIDUAL,nan,48th week,0,0,"60,789","12,400",0
26,65541995,27000,27000,27000,60 months,BAT2252229,8,B,B1,Industrial Sales Manager,...,0,nan,INDIVIDUAL,nan,9th week,0,0,"302,902","23,900",0
27,68528602,35000,35000,35000,60 months,BAT1586599,18,E,E1,Truck Driver,...,0,20,INDIVIDUAL,nan,9th week,0,0,"49,883","47,600",0
28,7840634,15000,15000,15000,60 months,BAT2833642,15,C,C3,Prism Publication,...,0,nan,INDIVIDUAL,nan,131th week,0,0,"29,180","25,800",0
29,57896463,21000,21000,21000,60 months,BAT3873588,13,C,C2,MORTGAGE ASSOCIATE,...,0,nan,INDIVIDUAL,nan,26th week,0,0,"299,921","22,000",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,43591491,11100,11100,11100,60 months,,20,E,E3,Deputy Clerk/Image Technician,...,0,nan,INDIVIDUAL,nan,48th week,0,0,"9,674","28,600",0
64,47620923,15000,15000,15000,36 months,BAT1104812,8,B,B1,P.E.Manager,...,0,nan,INDIVIDUAL,nan,39th week,0,0,"228,314","20,500",0
65,55986168,15000,15000,15000,36 months,NaN,12,C,C1,RN,...,0,nan,INDIVIDUAL,nan,31th week,0,0,"75,893","34,600",0
66,60908672,21000,21000,21000,36 months,BAT1780517,12,C,C1,tech,...,0,nan,INDIVIDUAL,nan,22th week,0,0,"70,469","65,300",0
67,11617875,22750,22750,22700,36 months,BAT1766061,15,C,C3,contractor,...,0,nan,INDIVIDUAL,nan,104th week,0,55,"145,624","59,900",0
68,51442796,5925,5925,5925,36 months,BAT1184694,7,A,A4,NaN,...,0,10,INDIVIDUAL,nan,35th week,0,0,"22,413","36,800",0
69,73432856,7075,7075,7075,36 months,BAT2803411,17,D,D3,President,...,0,nan,INDIVIDUAL,nan,NAth week,0,403,"47,590","2,400",0
70,46301912,15000,15000,15000,36 months,NaN,13,C,C3,Mammography Technician,...,0,nan,INDIVIDUAL,nan,44th week,0,0,"80,516","6,700",0
71,37566628,21100,21100,21100,36 months,BAT2558388,15,C,C5,Consumer Underwriter,...,0,nan,INDIVIDUAL,nan,22th week,0,0,"127,368","24,300",1
72,47094234,10000,10000,10000,36 months,BAT1104812,7,A,A4,Electrical Engineer,...,0,56,INDIVIDUAL,nan,35th week,0,0,"105,635","7,700",1
73,37977601,20000,20000,20000,36 months,BAT2558388,12,C,C1,Psychologist,...,0,nan,INDIVIDUAL,nan,61th week,0,0,"54,220","16,000",0
74,62967457,5225,5225,5225,36 months,BAT1780517,18,D,D5,Library Asst. II,...,0,nan,INDIVIDUAL,nan,22th week,0,97,"31,308","4,000",0
75,5022828,22000,22000,21925,60 months,BAT5341619,13,B,B4,Rome Electric Motor Works,...,0,nan,INDIVIDUAL,nan,117th week,0,0,"110,195","73,300",1
76,58720579,18450,18450,18450,36 months,,15,C,C5,maintanence superviser,...,0,nan,INDIVIDUAL,nan,26th week,0,0,"111,993","26,300",0
77,61995017,10000,10000,9950,36 months,BAT1780517,8,B,B1,Dental hygienist,...,0,nan,INDIVIDUAL,nan,17th week,0,0,"18,882","15,400",0
78,21108785,6000,6000,6000,36 months,BAT3461431,19,E,E1,NaN,...,0,nan,INDIVIDUAL,nan,83th week,0,0,"33,359","13,900",0
79,43255070,15450,15450,15450,60 months,BAT5924421,19,E,E2,RN,...,0,nan,INDIVIDUAL,nan,48th week,0,0,"184,263","25,700",0
80,46536793,1300,1300,1300,36 months,BAT1104812,16,D,D1,SECURITY OFFICER,...,0,26,INDIVIDUAL,nan,39th week,0,0,"192,978","7,500",0
81,53582984,11000,11000,11000,36 months,BAT3726927,13,C,C2,server/bartender,...,0,nan,INDIVIDUAL,nan,31th week,0,0,"21,059","12,300",0
82,37687805,5700,5700,5700,36 months,BAT2558388,7,A,A4,Board Certified Assistant Behavior Analy,...,0,66,INDIVIDUAL,nan,61th week,0,617,"12,541","9,800",0
83,22402770,19325,19325,19325,36 months,BAT3193689,7,A,A3,Police Officer,...,0,nan,INDIVIDUAL,nan,78th week,0,0,"167,186","26,900",0
84,15209002,11500,11500,11500,36 months,BAT2522922,13,B,B5,Assistant Store Manager,...,0,nan,INDIVIDUAL,nan,87th week,0,0,"39,223","21,600",1
85,34701391,35000,35000,35000,60 months,BAT2558388,22,E,E5,underground miner,...,0,nan,INDIVIDUAL,nan,61th week,0,0,"183,694","72,221",0
86,13668171,15000,15000,15000,60 months,BAT224923,18,D,D2,CREDENTIALING COOR,...,0,64,INDIVIDUAL,nan,95th week,0,0,"158,357","15,000",0
87,44776893,2500,2500,2500,36 months,NaN,18,D,D5,Claims Examiner III,...,0,nan,INDIVIDUAL,nan,44th week,0,0,"33,774","23,200",0
88,6509118,13000,13000,12950,60 months,,15,C,C2,Barracuda Networks,...,0,nan,INDIVIDUAL,nan,135th week,0,0,"186,889","8,500",0
89,32878580,12000,12000,12000,36 months,NaN,8,A,A4,Assistant Director,...,0,nan,INDIVIDUAL,nan,65th week,0,0,"13,551","26,300",0
90,16410768,7500,7500,7500,36 months,BAT5489674,7,A,A2,Owner Relations Manager,...,0,nan,INDIVIDUAL,nan,87th week,0,0,"58,779","9,400",0
91,62394390,20000,20000,20000,36 months,BAT1780517,7,A,A3,Paralegal,...,0,49,INDIVIDUAL,nan,17th week,0,0,"198,542","64,100",0
92,67668150,22000,22000,22000,60 months,,13,C,C3,Manager,...,0,nan,INDIVIDUAL,nan,9th week,0,0,"29,446","31,700",0

# Directory to fetch model

In [13]:
from os.path import expanduser
import glob

modelDir = expanduser("~")+'/model'

# Filter the required columns

In [14]:


inputXtest = testdf.loc[:, ['loan_amnt',
                           'funded_amnt',
                           'funded_amnt_inv', 
                           'int_rate',
                           'annual_inc', 
                           'dti',
                           'open_acc', 
                           'revol_bal',
                           'revol_util', 
                           'total_acc',
                           'total_rec_int', 
                           'tot_cur_bal',
                           'total_rev_hi_lim'
                           ]].as_matrix()

print('Test Data')
print(inputXtest.shape)
print('\n')

Test Data
(93, 13)

# Restore the tensorflow saved model

In [15]:
import os
import tensorflow as tf
import glob

sess = tf.Session() 

list_of_files = glob.glob(modelDir+'/*') # * means all if need specific format then *.csv
if(len(list_of_files)>0):
    latest_file = max(list_of_files, key=os.path.getctime)
    saver = tf.train.import_meta_graph(latest_file)
    saver.restore(sess,tf.train.latest_checkpoint(modelDir+'/.'))
    graph = tf.get_default_graph()

INFO:tensorflow:Restoring parameters from C:\Users\arsha/model/model.ckpt-200000

# Insert the test data for prediction

In [16]:
import numpy as np
from pandas import Series
X = graph.get_tensor_by_name('X_Input:0')
Y = graph.get_tensor_by_name('Y_Output:0')
clssification = sess.run(Y, feed_dict={X: inputXtest})
print(clssification)
outputdf = round(pd.DataFrame(clssification)[0]).astype('int64')
print(outputdf)
testdf['predicted'] = outputdf
pd.options.display.float_format = '{:,.0f}'.format
print(testdf.shape)
match=0
for index, row in testdf.iterrows():
    if row['loan_status'] == row['predicted']:
        match=match+1
accuracy =  match*100/testdf.shape[0]       
print("Prediction Accuracy: ",accuracy)          
testdf

[[9.35937932e-20 1.00000000e+00]
 [1.48918875e-30 1.00000000e+00]
 [8.22306216e-01 1.77693784e-01]
 [0.00000000e+00 1.00000000e+00]
 [7.38071501e-01 2.61928469e-01]
 [4.60473076e-02 9.53952730e-01]
 [6.13884826e-04 9.99386072e-01]
 [0.00000000e+00 1.00000000e+00]
 [1.41890918e-29 1.00000000e+00]
 [3.61602304e-09 1.00000000e+00]
 [9.61729724e-11 1.00000000e+00]
 [2.98643543e-04 9.99701321e-01]
 [1.00000000e+00 0.00000000e+00]
 [8.10039863e-02 9.18995976e-01]
 [9.56477284e-01 4.35226783e-02]
 [3.57591665e-11 1.00000000e+00]
 [1.00000000e+00 0.00000000e+00]
 [1.60902989e-08 1.00000000e+00]
 [3.55774492e-01 6.44225597e-01]
 [2.46143294e-03 9.97538567e-01]
 [5.28122559e-02 9.47187722e-01]
 [2.13037833e-06 9.99997854e-01]
 [0.00000000e+00 1.00000000e+00]
 [1.11413434e-01 8.88586521e-01]
 [1.32167172e-13 1.00000000e+00]
 [6.51383460e-01 3.48616540e-01]
 [5.60632348e-01 4.39367741e-01]
 [1.12240501e-17 1.00000000e+00]
 [1.15852963e-08 1.00000000e+00]
 [4.33462411e-01 5.66537619e-01]
 [0.00000000e+00 1.00000000e+00]
 [5.58419153e-03 9.94415760e-01]
 [4.94095460e-02 9.50590432e-01]
 [0.00000000e+00 1.00000000e+00]
 [1.53734181e-05 9.99984622e-01]
 [6.09576493e-15 1.00000000e+00]
 [1.50714492e-04 9.99849319e-01]
 [0.00000000e+00 1.00000000e+00]
 [1.00000000e+00 3.11377946e-08]
 [5.53229540e-28 1.00000000e+00]
 [9.98997152e-01 1.00282533e-03]
 [3.94562744e-02 9.60543752e-01]
 [6.08928879e-20 1.00000000e+00]
 [0.00000000e+00 1.00000000e+00]
 [2.87722307e-03 9.97122705e-01]
 [9.34290767e-01 6.57092035e-02]
 [9.42732692e-01 5.72672710e-02]
 [0.00000000e+00 1.00000000e+00]
 [9.99977112e-01 2.28544832e-05]
 [7.94863045e-01 2.05136910e-01]
 [7.53587782e-02 9.24641252e-01]
 [9.52215551e-09 1.00000000e+00]
 [1.84494153e-01 8.15505862e-01]
 [1.64975763e-17 1.00000000e+00]
 [6.28118813e-02 9.37188148e-01]
 [4.33634621e-25 1.00000000e+00]
 [1.01871883e-25 1.00000000e+00]
 [5.17038815e-02 9.48296070e-01]
 [2.69066323e-12 1.00000000e+00]
 [5.57139670e-26 1.00000000e+00]
 [0.00000000e+00 1.00000000e+00]
 [0.00000000e+00 1.00000000e+00]
 [0.00000000e+00 1.00000000e+00]
 [1.00000000e+00 5.94763459e-22]
 [8.26499015e-02 9.17350113e-01]
 [9.58368400e-06 9.99990463e-01]
 [1.09505439e-32 1.00000000e+00]
 [0.00000000e+00 1.00000000e+00]
 [0.00000000e+00 1.00000000e+00]
 [6.77929119e-21 1.00000000e+00]
 [1.89513958e-06 9.99998093e-01]
 [1.68598344e-10 1.00000000e+00]
 [1.02043840e-09 1.00000000e+00]
 [1.53138124e-08 1.00000000e+00]
 [4.87073138e-02 9.51292634e-01]
 [0.00000000e+00 1.00000000e+00]
 [1.49916977e-01 8.50082994e-01]
 [9.99998569e-01 1.46837249e-06]
 [2.91603692e-06 9.99997139e-01]
 [8.94196928e-01 1.05803125e-01]
 [6.67890236e-02 9.33210969e-01]
 [1.65154124e-05 9.99983430e-01]
 [9.19260323e-01 8.07397217e-02]
 [9.29351002e-02 9.07064915e-01]
 [8.35291983e-04 9.99164701e-01]
 [3.46783064e-17 1.00000000e+00]
 [1.25626951e-01 8.74373019e-01]
 [0.00000000e+00 1.00000000e+00]
 [3.47488560e-02 9.65251148e-01]
 [4.35117320e-19 1.00000000e+00]
 [3.25461738e-02 9.67453778e-01]
 [1.63860624e-13 1.00000000e+00]
 [9.12278574e-34 1.00000000e+00]]
0     0
1     0
2     1
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    1
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    1
26    1
27    0
28    0
29    0
     ..
63    1
64    0
65    0
66    0
67    0
68    0
69    0
70    0
71    0
72    0
73    0
74    0
75    0
76    0
77    1
78    0
79    1
80    0
81    0
82    1
83    0
84    0
85    0
86    0
87    0
88    0
89    0
90    0
91    0
92    0
Name: 0, Length: 93, dtype: int64
(93, 46)
Prediction Accuracy:  66.66666666666667

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status,predicted
0,14337277,15000,15000,15000,36 months,BAT2522922,17,D,D1,NaN,...,31,INDIVIDUAL,nan,96th week,0,70,"78,226","14,200",0,0
1,7000560,30000,30000,29950,60 months,NaN,13,B,B4,fedex freight,...,nan,INDIVIDUAL,nan,52th week,0,"1,229","210,925","11,999",1,0
2,58836255,15000,15000,14975,36 months,BAT3873588,8,B,B1,Sr. Client Representative,...,nan,INDIVIDUAL,nan,26th week,0,0,"192,034","38,100",0,1
3,67817719,12000,12000,12000,36 months,BAT2252229,5,A,A1,Superintendent of Schools,...,nan,INDIVIDUAL,nan,9th week,0,0,"259,838","166,300",0,0
4,58762023,11200,11200,11200,36 months,NaN,10,B,B3,Enlisted,...,nan,INDIVIDUAL,nan,26th week,0,0,"69,118","26,700",0,1
5,39910063,11875,11875,11825,36 months,BAT4722912,18,D,D5,Shelter Coordinator,...,nan,INDIVIDUAL,nan,52th week,0,0,"45,264","22,300",0,0
6,10887266,6000,6000,6000,36 months,,13,B,B4,Insurance Regulator,...,31,INDIVIDUAL,nan,9th week,0,0,"41,626","8,900",1,0
7,71188361,24000,24000,24000,60 months,BAT2803411,8,A,A5,Infrastructure Engineer,...,nan,INDIVIDUAL,nan,4th week,0,0,"18,337","32,600",0,0
8,9004497,24175,24175,24175,60 months,BAT1930365,16,C,C3,Front Line Manager,...,nan,INDIVIDUAL,nan,117th week,0,0,"189,843","47,700",0,0
9,46312000,15825,15825,15825,60 months,BAT4136152,20,E,E4,CUSTOMER SERVICE,...,nan,INDIVIDUAL,nan,44th week,0,0,"26,044","23,300",0,0
10,62655249,21000,21000,20875,60 months,NaN,18,D,D4,Sales,...,nan,INDIVIDUAL,nan,17th week,0,0,"79,115","21,200",0,0
11,31836939,12125,12125,12125,36 months,BAT2078974,14,C,C3,vsa,...,11,INDIVIDUAL,nan,65th week,0,0,"13,125","8,500",0,0
12,69624883,16000,16000,16000,60 months,,8,A,A5,Account Representative,...,78,INDIVIDUAL,nan,9th week,0,0,"29,710","18,300",0,1
13,70348025,12500,12500,12500,36 months,BAT1586599,13,C,C2,Attorney,...,44,INDIVIDUAL,nan,9th week,0,0,"203,083","17,750",0,0
14,11918926,24450,24450,24450,60 months,BAT2522922,18,D,D3,Software Engineer,...,nan,INDIVIDUAL,nan,96th week,0,0,"242,720","31,200",0,1
15,53826904,20000,20000,20000,36 months,NaN,14,C,C4,"Manager, Financial Services",...,39,INDIVIDUAL,nan,31th week,0,0,"124,913","9,200",0,0
16,65478180,2600,2600,2600,36 months,,10,B,B3,Site Customer service representative,...,nan,INDIVIDUAL,nan,9th week,0,0,"13,837","53,900",0,1
17,41353717,5000,5000,5000,36 months,,9,B,B1,Plumber,...,33,INDIVIDUAL,nan,52th week,0,0,"28,771","12,402",0,0
18,46021118,5850,5850,5850,36 months,BAT4136152,18,E,E1,Farmer and ranch foreman,...,nan,INDIVIDUAL,nan,39th week,0,"4,135","47,181","5,800",0,0
19,3417740,10000,10000,9950,36 months,NaN,15,C,C2,lincare Inc,...,nan,INDIVIDUAL,nan,161th week,0,0,"215,918","14,500",1,0
20,10408972,9500,9500,9500,36 months,BAT2575549,14,B,B5,Teacher,...,56,INDIVIDUAL,nan,56th week,0,0,"74,102","10,200",1,0
21,53968058,6500,6500,6500,36 months,,8,A,A5,Marketing Associate,...,57,INDIVIDUAL,nan,31th week,0,0,"38,670","14,600",0,0
22,2168562,12000,12000,12000,36 months,NaN,15,C,C2,Bedding Experts,...,nan,INDIVIDUAL,nan,143th week,0,216,"257,340","21,900",1,0
23,68418195,12000,12000,12000,60 months,BAT1586599,13,C,C2,c/o,...,nan,INDIVIDUAL,nan,9th week,0,0,"100,788","15,500",0,0
24,11949534,18000,18000,18000,36 months,BAT5629144,15,C,C3,clerk,...,nan,INDIVIDUAL,nan,61th week,0,0,"20,520","4,500",0,0
25,43162515,9775,9775,9775,36 months,NaN,18,D,D5,General Manager,...,nan,INDIVIDUAL,nan,48th week,0,0,"60,789","12,400",0,1
26,65541995,27000,27000,27000,60 months,BAT2252229,8,B,B1,Industrial Sales Manager,...,nan,INDIVIDUAL,nan,9th week,0,0,"302,902","23,900",0,1
27,68528602,35000,35000,35000,60 months,BAT1586599,18,E,E1,Truck Driver,...,20,INDIVIDUAL,nan,9th week,0,0,"49,883","47,600",0,0
28,7840634,15000,15000,15000,60 months,BAT2833642,15,C,C3,Prism Publication,...,nan,INDIVIDUAL,nan,131th week,0,0,"29,180","25,800",0,0
29,57896463,21000,21000,21000,60 months,BAT3873588,13,C,C2,MORTGAGE ASSOCIATE,...,nan,INDIVIDUAL,nan,26th week,0,0,"299,921","22,000",0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,43591491,11100,11100,11100,60 months,,20,E,E3,Deputy Clerk/Image Technician,...,nan,INDIVIDUAL,nan,48th week,0,0,"9,674","28,600",0,1
64,47620923,15000,15000,15000,36 months,BAT1104812,8,B,B1,P.E.Manager,...,nan,INDIVIDUAL,nan,39th week,0,0,"228,314","20,500",0,0
65,55986168,15000,15000,15000,36 months,NaN,12,C,C1,RN,...,nan,INDIVIDUAL,nan,31th week,0,0,"75,893","34,600",0,0
66,60908672,21000,21000,21000,36 months,BAT1780517,12,C,C1,tech,...,nan,INDIVIDUAL,nan,22th week,0,0,"70,469","65,300",0,0
67,11617875,22750,22750,22700,36 months,BAT1766061,15,C,C3,contractor,...,nan,INDIVIDUAL,nan,104th week,0,55,"145,624","59,900",0,0
68,51442796,5925,5925,5925,36 months,BAT1184694,7,A,A4,NaN,...,10,INDIVIDUAL,nan,35th week,0,0,"22,413","36,800",0,0
69,73432856,7075,7075,7075,36 months,BAT2803411,17,D,D3,President,...,nan,INDIVIDUAL,nan,NAth week,0,403,"47,590","2,400",0,0
70,46301912,15000,15000,15000,36 months,NaN,13,C,C3,Mammography Technician,...,nan,INDIVIDUAL,nan,44th week,0,0,"80,516","6,700",0,0
71,37566628,21100,21100,21100,36 months,BAT2558388,15,C,C5,Consumer Underwriter,...,nan,INDIVIDUAL,nan,22th week,0,0,"127,368","24,300",1,0
72,47094234,10000,10000,10000,36 months,BAT1104812,7,A,A4,Electrical Engineer,...,56,INDIVIDUAL,nan,35th week,0,0,"105,635","7,700",1,0
73,37977601,20000,20000,20000,36 months,BAT2558388,12,C,C1,Psychologist,...,nan,INDIVIDUAL,nan,61th week,0,0,"54,220","16,000",0,0
74,62967457,5225,5225,5225,36 months,BAT1780517,18,D,D5,Library Asst. II,...,nan,INDIVIDUAL,nan,22th week,0,97,"31,308","4,000",0,0
75,5022828,22000,22000,21925,60 months,BAT5341619,13,B,B4,Rome Electric Motor Works,...,nan,INDIVIDUAL,nan,117th week,0,0,"110,195","73,300",1,0
76,58720579,18450,18450,18450,36 months,,15,C,C5,maintanence superviser,...,nan,INDIVIDUAL,nan,26th week,0,0,"111,993","26,300",0,0
77,61995017,10000,10000,9950,36 months,BAT1780517,8,B,B1,Dental hygienist,...,nan,INDIVIDUAL,nan,17th week,0,0,"18,882","15,400",0,1
78,21108785,6000,6000,6000,36 months,BAT3461431,19,E,E1,NaN,...,nan,INDIVIDUAL,nan,83th week,0,0,"33,359","13,900",0,0
79,43255070,15450,15450,15450,60 months,BAT5924421,19,E,E2,RN,...,nan,INDIVIDUAL,nan,48th week,0,0,"184,263","25,700",0,1
80,46536793,1300,1300,1300,36 months,BAT1104812,16,D,D1,SECURITY OFFICER,...,26,INDIVIDUAL,nan,39th week,0,0,"192,978","7,500",0,0
81,53582984,11000,11000,11000,36 months,BAT3726927,13,C,C2,server/bartender,...,nan,INDIVIDUAL,nan,31th week,0,0,"21,059","12,300",0,0
82,37687805,5700,5700,5700,36 months,BAT2558388,7,A,A4,Board Certified Assistant Behavior Analy,...,66,INDIVIDUAL,nan,61th week,0,617,"12,541","9,800",0,1
83,22402770,19325,19325,19325,36 months,BAT3193689,7,A,A3,Police Officer,...,nan,INDIVIDUAL,nan,78th week,0,0,"167,186","26,900",0,0
84,15209002,11500,11500,11500,36 months,BAT2522922,13,B,B5,Assistant Store Manager,...,nan,INDIVIDUAL,nan,87th week,0,0,"39,223","21,600",1,0
85,34701391,35000,35000,35000,60 months,BAT2558388,22,E,E5,underground miner,...,nan,INDIVIDUAL,nan,61th week,0,0,"183,694","72,221",0,0
86,13668171,15000,15000,15000,60 months,BAT224923,18,D,D2,CREDENTIALING COOR,...,64,INDIVIDUAL,nan,95th week,0,0,"158,357","15,000",0,0
87,44776893,2500,2500,2500,36 months,NaN,18,D,D5,Claims Examiner III,...,nan,INDIVIDUAL,nan,44th week,0,0,"33,774","23,200",0,0
88,6509118,13000,13000,12950,60 months,,15,C,C2,Barracuda Networks,...,nan,INDIVIDUAL,nan,135th week,0,0,"186,889","8,500",0,0
89,32878580,12000,12000,12000,36 months,NaN,8,A,A4,Assistant Director,...,nan,INDIVIDUAL,nan,65th week,0,0,"13,551","26,300",0,0
90,16410768,7500,7500,7500,36 months,BAT5489674,7,A,A2,Owner Relations Manager,...,nan,INDIVIDUAL,nan,87th week,0,0,"58,779","9,400",0,0
91,62394390,20000,20000,20000,36 months,BAT1780517,7,A,A3,Paralegal,...,49,INDIVIDUAL,nan,17th week,0,0,"198,542","64,100",0,0
92,67668150,22000,22000,22000,60 months,,13,C,C3,Manager,...,nan,INDIVIDUAL,nan,9th week,0,0,"29,446","31,700",0,0